<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="header" role="banner"
    fxLayout="row" fxLayoutAlign="space-between center">

    <div class="logo">
        <img width="40" alt="Covid Api"
        src="https://rapidapi-prod-collections.s3.amazonaws.com/1934d868-b8b9-40bf-a3a0-a978f007f89d.png"/>

        <span>COVID-19</span>
    </div>
    
    
    <button style="margin-right: 5px;" pButton type="button" icon="pi pi-refresh" class="ui-button-raised ui-button-secondary"
            (click)="syncData()"></button>
</div>
